name: focus_and_flow
description: "Focus & Flow - A habit tracking and task management Flutter application."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  english_words: ^4.0.0
  provider: ^6.1.5
  shared_preferences: ^2.1.1
  firebase_core: ^3.1.1
  firebase_auth: ^5.1.3
  cloud_firestore: ^5.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
